{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    {#    <script src="https://code.jquery.com/jquery-2.2.4.js"#}
    {#            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>#}
    <title>{{ titulo }}</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded"/>
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'dist/assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'dist/assets/css/style.css' %}">
    <link href="{% static 'lib/fontawesome-free-5.14.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    {% block head %}

    {% endblock %}
</head>
<body class="">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->
{% include "front-end/sidebar.html" %}
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
{% include "front-end/header.html" %}
<!-- [ Header ] end -->
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"><i class="{{ icono }}" aria-hidden="true"></i> {{ entidad }}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'menu' %}"><i class="feather icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">{{ entidad }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </div>
</div>
<!-- [ Main Content ] end -->
<!-- Warning Section start -->
<!-- Older IE warning message -->
<!-- Warning Section Ends -->
<!-- Required Js -->
{#{% include "front-end/footer.html" %}#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'dist/assets/js/vendor-all.js' %}"></script>
{#    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>#}
<script src="{% static 'dist/assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/assets/js/ripple.js' %}"></script>
<script src="{% static 'dist/assets/js/pcoded.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
{% block script %}

{% endblock %}
{% block extra %}

{% endblock %}
{% block javascript %}

{% endblock %}
</body>

</html>
