{% extends 'front-end/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="p-20 z-depth-top-0 waves-effect" data-toggle="tooltip" data-placement="top"
                 title=".z-depth-top-0">
                <h4>Bienvenido {{ user.get_full_name }}</h4>
            </div>
        </div>
        <br><br><br><br><br>
    </div>
    <div class="row">

        <div class="col-md-12 col-xl-4">
            <div class="card counter-card-1">
                <div class="card-block-big">
                    <div>
                        <h3 id="prod"></h3>
                        <p>Toneladas producidas del año actual</p>

                    </div>
                    <i class="fas fa-tree"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card counter-card-2">
                <div class="card-block-big">
                    <div>
                        <h3 id="perd"></h3>
                        <p> Toneladas de producto perdidas del año anterior
                        </p>
                    </div>
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card counter-card-3">
                <div class="card-block-big">
                    <div>
                        <h3 id="vend"></h3>
                        <p>Toneladas vendidas en el año anterior</p>
                    </div>
                    <i class="fas fa-cash-register"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>TOTAL DE COMPRAS DEL AÑO ANTERIOR</h5>
                </div>
                <div class="card-block">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>COMPRAS DEL MES</h5>
                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table class="table" id="datatable" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Proveedor</th>
                                <th>Total</th>
                                <th>Estado</th>
                            </tr>

                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>TOTAL DE VENTAS DE LOS 6 ULTIMOS AÑOS</h5>
                </div>
                <div class="card-block">
                    <figure class="highcharts-figure">
                        <div id="container2"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}
{% block extra %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'apps/dashboard.js' %}"></script>
{% endblock %}
