{% extends 'front-end/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <!-- support-section start -->

            <div >
                <div class="panel panel-info">
                    <div class="panel-heading bg-danger">
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae
                            ultrices accumsan.</p>
                    </div>
                </div>
            </div>

            <!-- support-section end -->
        </div>
        <!-- Latest Customers end -->
    </div>
{% endblock %}
