{% extends 'front-end/base.html' %}
{% load static from staticfiles %}
{% block head %}

    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.1.1/css/searchPanes.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css"/>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">
                <a type="button" class="btn btn-primary btn-sm" href="{{ nuevo }}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ boton }}
                </a>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table class="table" id="datatable" style="width: 100%">
                        {% block table %}
                        {% endblock %}
                    </table>
                </div>
            </div>
        <div class="card-footer">
            <button type="button" class="btn btn-warning btn-sm btn-flat"
                        onclick="location.reload();">
                    <i class="fas fa-sync"></i> Actualizar
                </button>
        </div>
        </div>
    </div>
    {% block modal %}

    {% endblock %}
{% endblock %}
{% block script %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.1.1/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
{% endblock %}


