{% load static from staticfiles %}
<div class="pcoded-inner-navbar main-menu">
    <div class="">
        <div class="main-menu-header">
            <img class="img-40" src="{% static 'assets/images/user.png' %}" alt="User-Profile-Image">
            <div class="user-details">
                <span>{{ user.get_full_name }}</span>
                <span id="more-details">Detalles<i class="ti-angle-down"></i></span>
            </div>
        </div>
        <div class="main-menu-content">
            <ul>
                <li class="more-details">
                    <a href="#"><i class="ti-user"></i>Perfil</a>
                    <a href="#!"><i class="ti-layout-sidebar-left"></i>Salir</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Navegacion
    </div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Menu Principal">
            <a href="{% url 'menu' %}">
                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                <span class="pcoded-mtext">Menu Principal</span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Configuracion">
            <a href="{% url 'empresa:editar' %}">
                <span class="pcoded-micon"><i class="feather icon-settings m-r-5"></i></span>
                <span class="pcoded-mtext">Configuracion</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Ventas</div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Clientes">
            <a href="{% url 'cliente:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-user"></i></span>
                <span class="pcoded-mtext"> Clientes</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Ventas">
            <a href="{% url 'venta:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-shopping-basket"></i></span>
                <span class="pcoded-mtext"> Ventas</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Compras</div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Compras">
            <a href="{% url 'compra:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-shopping-bag"></i></span>
                <span class="pcoded-mtext"> Compras</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Proveedor">
            <a href="{% url 'proveedor:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-truck"></i></span>
                <span class="pcoded-mtext"> Proveedor</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Produccion</div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Trabajador">
            <a href="{% url 'trabajador:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-people-carry"></i></span>
                <span class="pcoded-mtext"> Trabajador</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
         <li data-toggle="tooltip" data-placement="right" title="Produccion">
            <a href="{% url 'produccion:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-spa"></i></span>
                <span class="pcoded-mtext"> Produccion</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Labor">
            <a href="{% url 'labor:lista' %}">
                <span class="pcoded-micon"><i class="fab fa-phoenix-framework"></i></span>
                <span class="pcoded-mtext"> Labor</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Cantero">
            <a href="{% url 'cantero:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-tractor"></i></span>
                <span class="pcoded-mtext"> Cantero</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Producto">
            <a href="{% url 'producto:lista' %}">
                <span class="pcoded-micon"><i class="fab fa-pagelines"></i></span>
                <span class="pcoded-mtext"> Producto</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Insumo">
            <a href="{% url 'insumo:lista' %}">
                <span class="pcoded-micon"><i class="fa fa-tags"></i></span>
                <span class="pcoded-mtext"> Insumo</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Asignar Insumo">
            <a href="{% url 'asig_insumo:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-check-circle"></i></span>
                <span class="pcoded-mtext"> Asignar Insumo</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Asignar Labor">
            <a href="{% url 'asig_labor:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-briefcase"></i></span>
                <span class="pcoded-mtext"> Asignar Labor</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Reportes</div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Reporte de Produccion">
            <a href="{% url 'produccion:report' %}">
                <span class="pcoded-micon"><i class="fas fa-archway"></i></span>
                <span class="pcoded-mtext"> Produccion</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Reporte de Asignacion de Labores">
            <a href="{% url 'Asig_labor:report' %}">
                <span class="pcoded-micon"><i class="fas fa-laptop-house"></i></span>
                <span class="pcoded-mtext"> Presentacion</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Reporte de Asignacion de Insumos">
            <a href="{% url 'asig_insumo:report' %}">
                <span class="pcoded-micon"><i class="fab fa-free-code-camp"></i></span>
                <span class="pcoded-mtext"> Asignacion de Insumos</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Reporte de Pago de Labores">
            <a href="{% url 'pagos:report' %}">
                <span class="pcoded-micon"><i class="fas fa-hand-holding-usd"></i></span>
                <span class="pcoded-mtext"> Historial de Pagos</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>

    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Extras</div>
    <ul class="pcoded-item pcoded-left-item">
        <li data-toggle="tooltip" data-placement="right" title="Categoria">
            <a href="{% url 'Categoria:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-boxes"></i></span>
                <span class="pcoded-mtext"> Categoria</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Presentacion">
            <a href="{% url 'Presentacion:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-box-open"></i></span>
                <span class="pcoded-mtext"> Presentacion</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Periodo">
            <a href="{% url 'periodo:lista' %}">
                <span class="pcoded-micon"><i class="fas fa-clock"></i></span>
                <span class="pcoded-mtext"> Periodo</span>
                <span class="pcoded-mcaret"></span>
            </a>
        </li>
    </ul>
</div>