{% load static from staticfiles %}
<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >

				<div class="">
					<div class="main-menu-header">
						<img class="img-radius" src="{% static 'dist/assets/images/user/avatar-2.jpg' %}" alt="User-Profile-Image">
						<div class="user-details">
							<div id="more-details">{{ user.get_full_name }} <i class="fa fa-caret-down"></i></div>
						</div>
					</div>
					<div class="collapse" id="nav-user-link">
						<ul class="list-unstyled">
							<li class="list-group-item"><a href="#"><i class="feather icon-user m-r-5"></i>Perfil</a></li>
							<li class="list-group-item"><a href="#"><i class="feather icon-log-out m-r-5"></i>Salir</a></li>
						</ul>
					</div>
				</div>

				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
					    <label>Navegacion</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'menu' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Menu Principal</span></a>
					</li>
                    	<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings m-r-5"></i></span><span class="pcoded-mtext">Configuracion</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Ventas</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'cliente:lista' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Clientes</span></a>
					</li>
                    <li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fa fa-shopping-basket "></i></span><span class="pcoded-mtext">Ventas</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Produccion</label>
					</li>
                    <li class="nav-item">
					    <a href="{% url 'trabajador:lista' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Trabajadores</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'cantero:lista' %}" class="nav-link "><span class="pcoded-micon"><i class="fa fa-tractor"></i></span><span class="pcoded-mtext">Canteros</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'insumo:lista' %}" class="nav-link "><span class="pcoded-micon"><i class="fa fa-tags"></i></span><span class="pcoded-mtext">Insumos</span></a>
					</li>
                    <li class="nav-item">
                         <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-check-circle"></i></span><span class="pcoded-mtext">Asignacion de Insumos</span></a>
                    </li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Compras</label>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fa fa-shopping-bag"></i></span><span class="pcoded-mtext">Compras</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'proveedor:lista' %}" class="nav-link "><span class="pcoded-micon"><i class="fa fa-truck"></i></span><span class="pcoded-mtext">Proveedores</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Inventario</label>
					</li>
					<li class="nav-item">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-database"></i></span><span class="pcoded-mtext">Inventario de Insumos</span></a>
					</li>
					<li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fa fa-tree"></i></span><span class="pcoded-mtext">Inventario de Producto</span></a></li>

				</ul>
			</div>
		</div>
	</nav>