{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Presentacion</th>
        <th>P.V.P.</th>
        <th>Stock</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/insumo/insumo_list.js' %}"></script>
    <script src="{% static 'apps/funtions.js' %}"></script>
{% endblock %}