beautifulsoup4==4.9.1
cffi==1.14.2
cryptography==3.1
Django==2.2.15
django-tempus-dominus==5.1.2.13
futures==3.1.1
goslate==1.5.1
html5lib==1.1
Pillow==7.2.0
progressbar2==3.53.1
psycopg2==2.8.5
pycparser==2.20
PyMySQL==0.10.0
PyPDF2==1.26.0
python-utils==2.4.0
pytz==2020.1
reportlab==3.5.49
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
webencodings==0.5.1
xhtml2pdf==0.2.4
