{% extends 'front-end/list.html' %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    {% if list %}
        {% for dato in list %}
            <tr>
                <td>{{ dato.id }}</td>
                <td>{{ dato.nombre }}</td>
                <td> {{ dato.descripcion }}  </td>
                <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                       title="Editar Datos"
                       href="#"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-primary btn-sm btn-round"
                            data-toggle="tooltip"
                            title="Gestionar Estado" name="btnestado">
                        <i class="fa fa-cogs"></i></button></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
{% endblock %}
{% block script %}
 <script type="text/javascript">
        $(function () {
            $("#datatable").DataTable({
                "responsive": true,
                "autoWidth": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
            });
        });
    </script>
{% endblock %}