{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Periodo</th>
        <th>Cantero</th>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Presentacion</th>
        <th>Cantidad</th>
        <th>Pérdida</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/produccion/produccion_report.js' %}"></script>
    <script src="{% static 'apps/funtions.js' %}"></script>
{% endblock %}
{% block javascript %}

{% endblock %}