{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th scope="col" style="width: 10%">Nombres</th>
        <th>Tipo</th>
        <th>N° Documento</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    {% for dato in lista %}
        <tr>
            <td>{{ dato.nombres }} </td>
            <td>{{ dato.get_tipo_doc_display }} </td>
            <td>{{ dato.numero_doc }} </td>
            <td>{{ dato.correo }} </td>
            <td>{{ dato.direccion }} </td>
            <td>{{ dato.telefono }} </td>
            <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                   title="Editar Datos"
                   href="{% url 'cliente:editar' dato.id %}"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-primary btn-sm estado"
                        data-toggle="tooltip"
                        title="Gestionar Estado" name="btnestado">
                    <i class="fa fa-cogs"></i></button>
            </td>
        </tr>

    {% endfor %}
    </tbody>
{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            var table = $("#datatable").DataTable({
                responsive: true,
            });

        });
    </script>
{% endblock %}