{% extends 'front-end/list.html' %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cedula</th>
        <th>Genero</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    {% if list %}
        {% for dato in list %}
            <tr>
                <td>{{ dato.id }}</td>
                <td>{{ dato.nombres }}</td>
                <td>{{ dato.apellidos }}</td>
                <td> {{ dato.cedula }}  </td>
                <td> {{ dato.get_genero_display }} </td>
                <td> {{ dato.correo }} </td>
                <td>{{ dato.direccion }}</td>
                <td style="font-weight:bold">{{ dato.telefono }}</td>
                <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                       title="Editar Datos"
                       href="#"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-primary btn-sm estado"
                            data-toggle="tooltip"
                            title="Gestionar Estado" name="btnestado">
                        <i class="fa fa-cogs"></i></button>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <script>
        $(function () {
            $("#datatable").DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },

            });
        });
    </script>

{% endblock %}