{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th scope="col" style="width: 10%">Nombres</th>
        <th>Cedula</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Genero</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block javascript %}

    <script src="{% static 'apps/user/user_list.js' %}"></script>
    <script src="{% static 'apps/funtions.js' %}"></script>
{% endblock %}