{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Proveedor</th>
        <th>Total</th>
        <th>N° Factura</th>
        <th>Estado</th>
        <th hidden="hidden"></th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    {% if object_list %}
        {% for dato in object_list %}
            <tr>
                <td>{{ dato.fecha_compra }}</td>
                <td>{{ dato.proveedor.nombres }}</td>
                <td> {{ dato.total }} (m<sup>2</sup>) </td>
                <td>{{ dato.id }}</td>
                <td><a id="estado">{{ dato.get_estado_display }}</a></td>
                <td hidden="hidden">{{ dato.get_estado_display }}</td>
                <td><a type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                       title="Editar Datos"
                       href="#"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-primary btn-sm estado"
                            data-toggle="tooltip"
                            title="Gestionar Estado" name="btnestado">
                        <i class="fa fa-cogs"></i></button>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            $("#datatable").DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    "url": '{% static 'lib/datatables-1.10.20/spanish.txt' %}'
                },

                createdRow: function (row, data, dataIndex) {
                    if (data[4] === 'FINALIZADA') {
                        $('td', row).eq(3).addClass('badge badge-primary');
                    } else if (data[4] === 'PENDIENTE') {
                        $('td', row).eq(3).addClass('badge badge-danger');
                    }

                }

            });
        });
    </script>
{% endblock %}