{% extends 'front-end/list.html' %}
{% load static from staticfiles %}
{% block table %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Valor/dia</th>
        <th class="text-center"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    {% for dato in list %}
    <tr>
        <td>{{ dato.id }}</td>
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.valor_dia }} $</td>
        <td>{{ dato.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block extra %}
<script src="{% static 'apps/labor/labor_list.js' %}"></script>
<script src="{% static 'apps/funtions.js' %}"></script>
{% endblock %}